.add_new {
    width: 50px;
    color: white;
    background-color: #395B50;
    margin:0 auto;
    border-radius: 30px;
    cursor: pointer;
    transition:0.3s;
}

.add_new:hover {
    transform: scale(1.1,1.1);
    transition:0.3s;
}

.add_new i {
    padding: 13px;
}

.dropdown_options {
    width: 250px;
    font-weight: bolder;
}

 .Dropdown-menu {
    position:relative!important;
    height:80px;
}

.material-icons.close  {
    position: absolute;
    right: 10px;
    cursor: pointer;
}

.first_step input{
    font-family: "Martel Sans", sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid white;
    font-weight: bolder;
    width: 140px;
    margin-left: 20px;
    height: 25px;
    outline: none;
}

.header-container {
    position: absolute;
    width: 90%;
}

.body-container {
    display: flex;
    position: absolute;
    right: 80px;
    top: 0;
}

.options-container {
    position: absolute;
    right: 50px;
    top: 60px;
    width: 500px;
}